<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>排行榜</title>
    <meta
      name="description"
      content="A sidebar menu as seen on the Google Nexus 7 website"
    />
    <meta
      name="keywords"
      content="google nexus 7 menu, css transitions, sidebar, side menu, slide out menu"
    />
    <meta name="author" content="Codrops" />
    <!-- <link rel="shortcut icon" href="../favicon.ico" /> -->
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/component.css" />
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/modernizr.custom.js"></script>
  </head>
  <body>
    <div class="container">
      <ul id="gn-menu" class="gn-menu-main">
        <li class="gn-trigger">
          <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
          <nav class="gn-menu-wrapper">
            <div class="gn-scroller">
              <ul class="gn-menu">
                <li>
                  <a class="gn-icon gn-icon-download" href="/">显示排行榜</a>
                </li>
                <li>
                  <a class="gn-icon gn-icon-cog" href="/add">添加数据</a>
                </li>
                <li>
                  <a class="gn-icon gn-icon-help" href="/edit">修改数据</a>
                </li>
                <!-- <li>
                  <a class="gn-icon gn-icon-archive">Archives</a>
                </li> -->
              </ul>
            </div>
            <!-- /gn-scroller -->
          </nav>
        </li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <header>
        <div
          id="main"
          style="
            width: 400px;
            height: 600px;
            float: right;
            background-color: rgba(255, 255, 255, 0.733);
          "
        ></div>

        <!-- <div id="dataid" dataset="{{dataset}}" style="display: none"></div> -->
        <!-- <script src="copytoclp.js"></script> -->
        <script src="../static/js/Mycharts.js"></script>
        <!-- {{dataset}} -->
        <script type="text/javascript">
          // 使用刚指定的配置项和数据显示图表。

          // var dataset = document.getElementById("dataid").getAttribute("dataset");
          var myChart = echarts.init(document.getElementById("main"));
          //排序
          function compare(a, b) {
            var val1 = a[0];
            var val2 = b[0];
            return val1 - val2;
          }
          option.dataset.source.sort(compare);
          //   console.log(option.dataset.source[0][0]);
          // datas.source;
          // console.log(option.dataset);
          // console.log(option.dataset);
          // datas.source:dataset;

          myChart.setOption(option);
          //点击复制
          //copyX复制x轴，Y=>y轴
          //   myChart.on("click", copyX);
        </script>
        <div style="text-align: center; clear: both"></div>
      </header>
    </div>
    <!-- /container -->
    <script src="../static/js/classie.js"></script>
    <script src="../static/js/gnmenu.js"></script>
    <script>
      new gnMenu(document.getElementById("gn-menu"));
    </script>
  </body>
</html>
