<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>排行榜</title>
    <!-- 引入 echarts.js -->
    <script src="../static/js/echarts.min.js"></script>
  </head>
  <body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 1000px; height: 600px"></div>
    <!-- <script src="copytoclp.js"></script> -->
    <script src="../static/js/Mycharts.js"></script>
    <script type="text/javascript">
      // 使用刚指定的配置项和数据显示图表。
      var myChart = echarts.init(document.getElementById("main"));
      //排序
      function compare(a, b) {
        var val1 = a[0];
        var val2 = b[0];
        return val1 - val2;
      }
      option.dataset.source.sort(compare);
      //   console.log(option.dataset.source[0][0]);
      myChart.setOption(option);
      //点击复制
      //copyX复制x轴，Y=>y轴
      //   myChart.on("click", copyX);
    </script>
  </body>
</html>
